/*卡片详情区样式*/
#arena.hscss>.morezone {
	left: calc(100% - 1060px);
	top: calc(100% - 627px);
	width: 245px;
	height: 343px;
	display: block;
	border-radius: 5px;
	background-size: 100% 100% !important;
	z-index: 6;
	transition: all 0s;
}

#arena.hscss>.morezone:not(.viewhand) {
	left: calc(100% - 1100px);
	top: calc(100% - 490px);
}

#arena.hscss>.morezone.viewhand {
	left: calc(100% - 714px);
	top: calc(100% - 520px);
	z-index: 5;
}

#arena.hscss>.morezone>.player.hsdetail {
	top: 0px !important;
	left: 0px !important;
	width: 100%;
	height: 100%;
	transition: all 0s;
	background: rgba(0, 0, 0, 0);
	box-shadow: none;
}

/*详情区*/
#arena.hscss>.morezone>.player.hsdetail>:not(.avatar) {
	display: none;
}

#arena.hscss>.morezone>.player.hsdetail>.avatar {
	/*42，43，44，47如果没有发生详情区大小错位的话，可以删掉!important*/
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 100% !important;
	background-size: 100% 100% !important;
	transition: all 0s;
	box-shadow: none !important;
}

/*牌库区样式*/
/*发牌员*/
#arena.hscss>.player.hs_me,
#arena.hscss>.player.hs_enemy {
	left: calc(100% - 380px);
}

#arena.hscss>.player.hs_me {
	top: calc(100% - 346px);
}

#arena.hscss>.player.hs_enemy {
	top: calc(100% - 526px);
}

#arena.hscss>.player.hs_me>.hp,
#arena.hscss>.player.hs_enemy>.hp {
	display: none;
}

/*牌库插槽*/
#arena.hscss>.medeckbox,
#arena.hscss>.enemydeckbox {
	transition: all 0s;
	width: 100px;
	height: 30px;
	box-shadow: inset 6px 6px 50px black;
	box-origin: border-box;
	border: 4px solid black;
	transform: translateX(10px) translateY(45px) rotate(90deg) !important;
	z-index: 1;
}

/*可理解为发牌员的手*/
#arena.hscss>.medeckcontainer,
#arena.hscss>.enemydeckcontainer {
	z-index: 4;
	width: 120px;
	height: 50px;
	cursor: pointer;
}

#arena.hscss>.medeckbox,
#arena.hscss>.enemydeckbox,
#arena.hscss>.medeckcontainer,
#arena.hscss>.enemydeckcontainer {
	left: calc(100% - 426px);
	transform: translateX(20px) translateY(38px) rotate(90deg);
	border-radius: 13px;
}

#arena.hscss>.medeckbox,
#arena.hscss>.medeckcontainer {
	top: calc(100% - 296px);
}

#arena.hscss>.enemydeckbox,
#arena.hscss>.enemydeckcontainer {
	top: calc(100% - 466px);
}

/*牌库*/
#arena.hscss>.medeckcontainer>.player,
#arena.hscss>.enemydeckcontainer>.player {
	top: -42px !important;
	left: 0px !important;
	width: 76px !important;
	height: 140px !important;
	z-index: 4;
	clip-path: polygon(-40% -200%, -40% 45%, 140% 45%, 140% -200%);
}

#arena.hscss>.medeckcontainer>.player {
	transform: translateY(24px) perspective(300px) rotateX(-60deg) skew(-4deg);
}

#arena.hscss>.enemydeckcontainer>.player {
	transform: translateY(24px) perspective(300px) rotateX(-60deg) skew(4deg);
}

.medeckcontainer>.player>:not(.avatar):not(.count),
.enemydeckcontainer>.player>:not(.avatar):not(.count) {
	visibility: hidden;
}

.medeckcontainer>.player>.avatar,
.enemydeckcontainer>.player>.avatar {
	width: 100px !important;
	height: 140px !important;
	background-size: 100% 100% !important;
}

/*牌库剩余*/
.medeckcontainer>.player>.count,
.enemydeckcontainer>.player>.count {
	top: 70% !important;
	left: 0% !important;
	background: rgba(148, 27, 27, 1) !important;
	font-size: 40px;
	font-weight: 900;
	line-height: 30px;
	text-align: center;
	-webkit-text-stroke: 2px black;
	border-radius: 6px;
	border: 1px solid black;
	width: 44px;
	height: 35px;
	z-index: 10000;
}

#arena.hscss>.medeckcontainer.hs_check>.player>.count,
#arena.hscss>.enemydeckcontainer.hs_check>.player>.count {
	left: 95px !important;
}

/*牌库厚度*/
.decklencontainer {
	left: 10px;
	top: -50px;
	width: 100px;
	height: 60px;
	overflow: hidden;
	visibility: visible !important;
	border: 4px 0px solid black;
	box-shadow: 40px 1px black;
	transform-origin: 50% 100%;
}

.medeckcontainer>.player>.decklencontainer {
	transform: perspective(100px) skew(0deg) rotateX(10deg) scaleY(1.4);
}

.enemydeckcontainer>.player>.decklencontainer {
	transform: perspective(100px) skew(14deg) rotateX(10deg) scaleY(1.3);
}

.hs_check>.player>.decklencontainer {
	transform: perspective(200px) skew(-16deg) rotateX(60deg) scaleY(2);
}

.decklen {
	height: 2px;
	border: 1px solid black;
	background: linear-gradient(to right, rgb(255, 255, 107), orange, rgb(255, 255, 67));
	box-origin: border-box;
}

/*查看牌库剩余牌*/
#arena.hscss>.medeckcontainer.hs_check>.player,
#arena.hscss>.enemydeckcontainer.hs_check>.player,
#arena.hscss>.medeckcontainer.hs_check,
#arena.hscss>.enemydeckcontainer.hs_check {
	z-index: 11;
	transform: none !important;
}

#arena.hscss>.medeckcontainer.hs_check>.player,
#arena.hscss>.enemydeckcontainer.hs_check>.player {
	top: -20px !important;
	left: 55px !important;
	clip-path: polygon(-200% -200%, -200% 200%, 200% 200%, 200% -200%);
}

/*7人场的布局*/
#arena.hscss>.player.hs_me,
#arena.hscss>.player.hs_enemy {
	visibility: hidden;
	left: calc(100% - 168px);
	border: 1px solid black !important;
}

#arena.hscss>.player.hs_enemy {
	top: calc(100% - 556px);
}

#arena.hscss>.medeckbox,
#arena.hscss>.enemydeckbox {
	visibility: hidden;
	height: 30px;
}

#arena.hscss>.medeckbox,
#arena.hscss>.medeckcontainer {
	left: calc(100% - 210px);
	top: calc(100% - 295px);
}

#arena.hscss>.enemydeckbox,
#arena.hscss>.enemydeckcontainer {
	left: calc(100% - 214px);
	top: calc(100% - 500px);
}

#arena.hscss>.medeckcontainer>.player>.decklencontainer {
	transform: perspective(100px) skew(0deg) rotateX(10deg) scaleY(0.7);
}

#arena.hscss>.enemydeckcontainer>.player>.decklencontainer {
	transform: perspective(100px) skew(14deg) rotateX(10deg) scaleY(0.65);
}

#arena.hscss>.hs_check>.player>.decklencontainer {
	transform: perspective(200px) skew(-16deg) rotateX(60deg) scaleY(1);
}

/*疲劳时的牌库插槽*/
.hs_nocard.medeckbox {
	background: none;
	animation: hs_nocard 4s linear alternate infinite;
}

.hs_nocard.enemydeckbox {
	animation: hs_nocard2 4s linear alternate infinite;
}

@keyframes hs_nocard {
	0% {
		box-shadow: inset -6px 8px 10px black, inset 0px 4px 40px red, inset 0px -4px 30px orange, inset 0px -4px 10px orange;
		border: 4px solid orange;
	}

	40% {
		box-shadow: inset -6px 8px 16px black, inset 0px 4px 40px orange, inset 0px -4px 30px red, inset 0px -4px 10px orange;
		border: 4px solid red;
	}

	60% {
		box-shadow: inset -6px 8px 16px black, inset 0px 4px 40px orange, inset 0px -4px 30px orange, inset 0px -4px 10px red;
		border: 4px solid rgba(255, 0, 0, 0.8);
	}

	100% {
		box-shadow: inset -6px 8px 10px black, inset 0px 4px 40px red, inset 0px -4px 30px orange, inset 0px -4px 10px red;
		border: 4px solid orange;
	}
}

@keyframes hs_nocard2 {
	0% {
		box-shadow: inset 6px 8px 10px black, inset 0px 4px 40px red, inset 0px -4px 30px orange, inset 0px -4px 10px orange;
		border: 4px solid orange;
	}

	40% {
		box-shadow: inset 6px 8px 16px black, inset 0px 4px 40px orange, inset 0px -4px 30px red, inset 0px -4px 10px orange;
		border: 4px solid red;
	}

	60% {
		box-shadow: inset 6px 8px 16px black, inset 0px 4px 40px orange, inset 0px -4px 30px orange, inset 0px -4px 10px red;
		border: 4px solid rgba(255, 0, 0, 0.5);
	}

	100% {
		box-shadow: inset 6px 8px 10px black, inset 0px 4px 40px red, inset 0px -4px 30px orange, inset 0px -4px 10px red;
		border: 4px solid orange;
	}
}

/*疲劳时不显示牌库*/
#arena.hscss>.medeckbox.hs_nocard+div.medeckcontainer>.player,
#arena.hscss>.enemydeckbox.hs_nocard+div.enemydeckcontainer>.player {
	display: none;
}

/*投降按钮*/
#arena.hscss>.surrender {
	width: 60px;
	height: 60px;
	left: calc(100% - 130px);
	top: calc(100% - 620px);
	background-image: url("../../resource/image/decoration/x2.png");
	background-size: 100% 100%;
	cursor: pointer;
	z-index: 9;
}

/*其他自定义样式*/
#arenalog {
	pointer-events: none;
}

#arena.hscss>.hs_endbtn {
	width: 118px;
	height: 65px;
	background-image: url("../../resource/image/decoration/button.png");
	background-size: 100% 100%;
	box-shadow: none;
	color: black;
	line-height: 64px;
	font-size: 20px !important;
	font-weight: 900;
	text-align: center;
	text-shadow: none;
	z-index: 1;
}

#arena.hscss>.hs_endbtn {
	left: calc(100% - 243px);
	top: calc(100% - 371px);
}

#arena.hscss>.hs_endbtn:not(.hs_oppo) {
	cursor: pointer;
}

#arena.hscss>.hs_endbtn.hs_oppo {
	color: white;
	filter: invert(100%) sepia(100%);
}

#arena.hscss>.hs_endbtn.active:not(.hs_oppo) {
	filter: drop-shadow(-2px 0px 2px #9AFF02) drop-shadow(2px 0px 2px #9AFF02) drop-shadow(0 4px 4px #9AFF02) drop-shadow(0 -4px 4px #9AFF02) hue-rotate(30deg);
}

#arena.hscss>#control>.stayleft {
	opacity: 0 !important;
}

#arena.hscss .blink {
	transform: scale(1.5) translateX(-12px);
}

.card>.name {
	visibility: hidden;
}

.incardback>.name {
	color: gold;
	font-size: 16px;
}

#arena.hscss.decadeUI>.player.minskin>.camp-zone {
	height: calc(140% - 2px);
	transform: translateX(-5px);
}

#arena.hscss>.player>.name,
#arena.hscss>.player.minskin.selectable.attackable::before {
	visibility: hidden;
}

/*编辑卡组界面*/
@font-face {
	font-family: shousha;
	src: url("../../../../font/shousha.woff2");
}

.hs_duel {
	/*界面*/
	position: absolute;
	left: 10%;
	top: -10%;
	width: 80%;
	height: 120%;
	background-image: url("../../resource/image/decoration/builder.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transform: scale(0);
	animation: start 1s forwards;
	z-index: 4;
}

@keyframes start {
	100% {
		transform: scale(1);
	}
}

.hs_duel>.hs_bd_msg {
	top: 0%;
	left: 25%;
	width: 30%;
	height: auto;
	background: rgba(0, 0, 255, 0.7);
	color: red;
	text-align: center;
	font-size: 24px;
	transition: all 1s;
	opacity: 0;
	z-index: 10;
	pointer-events: none;
}

.hs_duel>.hs_bd_msg.noerror {
	color: white;
}

.hs_duel>.hs_bd_msg.code {
	left: 15%;
	width: 50%;
	font-size: 18px;
	text-align: left;
}

.hs_duel>.hs_bd_msg.active {
	top: 15%;
	opacity: 1;
}

.hs_duel>.hs_bd_tx {
	/*头像*/
	top: 9%;
	left: 74%;
	width: 17%;
	height: 9%;
	border: 4px solid gold;
	box-origin: border-box;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	background-position: 55% 40%;
}

.hs_duel>.hs_bd_tx>input,
.hs_duel>.hs_bd_tx>label {
	/*卡组名*/
	margin-top: 20%;
	width: 55%;
	height: 40%;
	display: block;
	border: none;
	background: rgba(0, 0, 0, 0);
	border-radius: 5px;
	font-weight: 900;
	font-size: 20px;
	font-family: shousha;
	color: white;
	text-shadow: 0 1px black, 0 -1px black, -1px 0 black, 1px 0 black;
}

.hs_duel>.hs_bd_tx>input:focus {
	background: rgba(200, 200, 200, 0.6);
}

.hs_bd_xgj {
	/*卡组代码小工具*/
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0% !important;
	left: -10%;
	background: gold;
	z-index: -1;
	border-radius: 4px;
}

.hs_bd_xgj.active {
	left: -60%;
}

.hs_bd_xgj>input {
	display: block;
	position: absolute;
	left: 10%;
	width: 40%;
}

.hs_bd_xgj>input:nth-child(1) {
	top: 50% !important;
}

.hs_duel>.hs_bd_dk {
	/*卡组*/
	top: 18.9%;
	left: 74.5%;
	width: 16.4%;
	height: 66.4%;
	border: 1px solid gold;
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: -1;
}

.hs_duel>.hs_bd_dk>.barcard {
	/*横条状卡牌*/
	box-shadow: 0 0 0 2px gold inset;
	box-origin: margin-box;
	background-repeat: no-repeat;
	background-size: 70% 140%, 140px 140px;
	background-position: 0px -10px, 90% 20%;
	font-family: shousha;
	font-size: 16px;
	font-weight: 900;
	text-shadow: 0 1px black, 0 -1px black, -1px 0 black, 1px 0 black;
	line-height: 38px;
	padding-left: 32px;
}

.hs_duel>.hs_bd_dk>.barcard.active {
	/*高亮*/
	filter: brightness(3);
}

.hs_duel>.hs_bd_dk>.barcard>.count {
	/*卡牌数量*/
	left: calc(90% - 28px);
	top: 2px;
	width: 9%;
	height: calc(100% - 4px);
	color: gold;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke: 0.3px black;
	line-height: 28px;
	background: black;
}

.hs_duel>.hs_bd_dk>.barcard.hs_legend>.count {
	font-size: 18px;
}

.hs_duel>.hs_bd_dk>.barcard>.cost {
	/*卡牌费用*/
	top: 0px;
	left: -4px;
	width: 36px;
	height: 36px;
	font-weight: normal;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	-webkit-text-stroke: 1px black;
	line-height: 36px;
	background-image: url("../../resource/image/decoration/mana.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
}

.hs_duel>.hs_bd_cf {
	/*确定区*/
	width: 17%;
	height: 5%;
	left: 74.5%;
	top: 86%;
	background-image: url("../../resource/image/decoration/btn_s.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	font-family: shousha;
	font-size: 30px;
}

.hs_duel>.hs_bd_cf>.hs_bd_ok {
	/*完成按钮*/
	left: 50%;
	width: 44%;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	line-height: 37px;
	text-shadow: 0 1px black, 0 -1px black, -1px 0 black, 1px 0 black;
	letter-spacing: 5px;
}

.hs_duel>.hs_bd_cf>.hs_bd_ok.disabled {
	color: gray;
}

.hs_duel>.hs_bd_cf>.hs_bd_ct {
	/*进度文字*/
	left: 6%;
	font-size: 22px;
	text-align: center;
	line-height: 32px;
	-webkit-text-stroke: 0.3px black;
}

.hs_duel>.hs_bd_bd {
	/*卡本*/
	top: 20%;
	left: 10%;
	width: 58%;
	height: 60%;
	border-radius: 4px;
}

.hs_duel>.hs_bd_bd>.bg {
	/*收集卡片*/
	width: 25%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.hs_duel>.hs_bd_bd>.bg:first-child {
	left: 0;
	top: 0;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(2) {
	left: 25%;
	top: 0;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(3) {
	left: 50%;
	top: 0;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(4) {
	left: 75%;
	top: 0;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(5) {
	left: 0;
	top: 50%;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(6) {
	left: 25%;
	top: 50%;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(7) {
	left: 50%;
	top: 50%;
}

.hs_duel>.hs_bd_bd>.bg:nth-child(8) {
	left: 75%;
	top: 50%;
}

.hs_duel>.hs_bd_bd>.bg.active {
	z-index: 1;
}

.hs_duel>.hs_bd_bd>.bg.view {
	transform: scale(2);
	left: 33%;
	top: 4%;
	z-index: 4;
}

.hs_duel>.hs_bd_bd>.btnfront {
	/*加入按钮*/
	top: 79%;
	left: 30%;
	width: 30%;
	height: 15%;
	font-family: shousha;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	text-shadow: 0 1px black, 0 -1px black, -1px 0 black, 1px 0 black;
	letter-spacing: 5px;
	background-image: url("../../resource/image/decoration/btnfront.png");
	background-repeat: no-repeat;
	background-size: 100px 40px;
	background-position: 50% 0%;
	z-index: 6;
}

.hs_duel>.hs_bd_jobtn {
	/*职业标签*/
	top: 9%;
	left: 6.8%;
	width: 4%;
	height: 4%;
	box-origin: border-box;
	border-top: 3px solid gold;
	border-left: 3px solid gold;
	border-right: 3px solid gold;
	background-repeat: no-repeat;
	background-size: 62px 60px;
	background-position: -10px -10px;
	border-radius: 30% 30% 0 0;
}

.hs_duel>.hs_bd_neubtn {
	/*中立标签*/
	top: 9%;
	left: 12%;
	width: 4%;
	height: 4%;
	box-origin: border-box;
	border-top: 3px solid gold;
	border-left: 3px solid gold;
	border-right: 3px solid gold;
	background-image: url("../../resource/image/nature/hs_neutral.png");
	background-repeat: no-repeat;
	background-size: 62px 60px;
	background-position: -10px -10px;
	border-radius: 30% 30% 0 0;
}

.hs_duel>.hs_bd_tokbtn {
	/*token标签*/
	top: 9%;
	left: 17.2%;
	width: 4%;
	height: 4%;
	box-origin: border-box;
	border-top: 3px solid gold;
	border-left: 3px solid gold;
	border-right: 3px solid gold;
	background-repeat: no-repeat;
	background-size: 62px 60px;
	background-position: -10px -10px;
	border-radius: 30% 30% 0 0;
}

.hs_duel>.hs_bd_jobtn.active,
.hs_duel>.hs_bd_neubtn.active,
.hs_duel>.hs_bd_tokbtn.active {
	top: 8%;
	height: 5%;
	transform: scaleX(1.2);
}

.hs_duel>.hs_bd_tt {
	/*卡本标题*/
	top: 17%;
	left: 32%;
	width: 15%;
	height: 5%;
	color: rgb(184, 134, 88);
	text-shadow: none;
	font-size: 20px;
	font-family: shousha;
	letter-spacing: 15px;
	text-align: center;
}

.hs_duel>.hs_bd_idx {
	/*页码*/
	top: 81%;
	left: 35%;
	width: 8%;
	height: 5%;
	color: black;
	text-shadow: none;
	font-family: shousha;
	letter-spacing: 5px;
	text-align: center;
}

.hs_duel>.leftfy,
.hs_duel>.rightfy {
	/*翻页箭头*/
	top: 48%;
	width: 4%;
	height: 6%;
	background-image: url("../../resource/image/decoration/arrow.png");
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

.hs_duel>.leftfy {
	transform: scaleY(-1.2) scaleX(-1.2);
	left: 6%;
}

.hs_duel>.rightfy {
	left: 67%;
	transform: scale(1.2);
}

.hs_duel>.manabar {
	/*筛选水晶区*/
	top: 86%;
	left: 7%;
	width: 44%;
	height: 6%;
}

.hs_duel>.manabar>.mana {
	/*筛选水晶*/
	width: 12%;
	height: 100%;
	background-image: url("../../resource/image/decoration/mana.png");
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: 40% 50%;
	text-align: center;
	-webkit-text-stroke: 1px black;
	line-height: 38px;
	font-size: 38px;
}

.hs_duel>.manabar>.mana:first-child {
	left: 0;
}

.hs_duel>.manabar>.mana:nth-child(2) {
	left: 12%;
}

.hs_duel>.manabar>.mana:nth-child(3) {
	left: 24%;
}

.hs_duel>.manabar>.mana:nth-child(4) {
	left: 36%;
}

.hs_duel>.manabar>.mana:nth-child(5) {
	left: 48%;
}

.hs_duel>.manabar>.mana:nth-child(6) {
	left: 60%;
}

.hs_duel>.manabar>.mana:nth-child(7) {
	left: 72%;
}

.hs_duel>.manabar>.mana:nth-child(8) {
	left: 84%;
}

.hs_duel>.manabar>.mana:nth-child(8)::after {
	left: 36px;
	top: 0px;
	font-size: 32px;
	font-weight: 570;
	line-height: 32px;
	-webkit-text-stroke: 1px black;
	position: absolute;
	display: block;
	content: '+';
}